[submodule "jGui"]
	path = jGui
	url = git@github.com:LunarClient/jGui.git

[submodule "src/main/resources/assets/replaymod/lang"]
	path = src/main/resources/assets/replaymod/lang
	url = https://github.com/ReplayMod/Translations
